version: '3.8'

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: cms_dev
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: Ldev-user2024
    ports:
      - "5432:5432"

  app:
    image: gcr.io/cms-proj-427123/cmsapp:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      JWT_SECRET_KEY: 9e7390de9f21809c2a824bd85df9c0505f78cf85741a79e30286e600349b36317a670522b13a3f25f21af8cb261a83178c6f1bc94e3228ce403caf1a1045372b
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/cms_dev
      SPRING_DATASOURCE_USERNAME: dev
      SPRING_DATASOURCE_PASSWORD: Ldev-user2024
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      SERVER_SERVLET_CONTEXT_PATH: /api/v1
      SPRING_ACTIVE_PROFILE: prod
    depends_on:
      - postgres
